name: README
on:
  push:
    paths: [README.md]
  pull_request:
    paths: [README.md]
jobs:
  toc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: runsascoded/mdcmd@v1
